@import "../../function.scss";

.link {
  @include flex(center, center);
  gap: 0.5rem;
  text-decoration: none;
  color: black;

  &:hover .icon {
    transition: 0.4s;
    scale: 1.3;
  }

  .icon {
    transition: scale 1.3;
  }
}

.col {
  & > li {
    @include flex(center, center);
  }
}

// .sticky {
//   position: sticky;
//   z-index: 10000;
//   background-color: white;
//   top: 0;
// }
